.container{
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    background-color: #DEEBFB;
    border-radius: 30px;
    padding: 50px 60px 50px 35px;
}
.routerHeader{
    height: 100px;
    padding-left: 50px;
}
.arrow{
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    position: absolute;
    background-color: #DEEBFB;
    object-fit: cover;
    left: 1px;
    top: 0; 
    
    &_wrapper{
        width:51px;
        height: 51px;
        border-radius: 50%;
        overflow: hidden;
        position:fixed;
        left: 50px;
        top: 15px;
        cursor: pointer;
    }
}