.container{
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    background-color: #DEEBFB;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    margin-top: 150px;
}
.routerHeader{
    position: relative;
    top: 20px;
    left: 50px;
}
.home_wrapper{
    width: 1440px;
    height: 972px;
    margin: 0 auto;
    position: relative;
}
