.lucknow_content{
    max-width: 1250px;
    max-height: 842px;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 60px 60px 30px 60px;
    box-sizing: border-box;
    position: relative;
    @media (max-width: 1440px ) {
        max-width: 1100px;
    }
    @media (max-width: 1200px ) {
        max-width: 920px;   
        padding: 60px 60px 30px 60px;    
    }

    @media (max-width: 1090px ) {
        max-width: 1090px;
    }

    @media (max-width: 800px ) {
        max-width: 760px;
        height: 1095px;
    }
    @media (max-width: 550px ) {
        max-width: 510px;
        height: 1355px;
        
    }
   
   
    &-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1440px ) {
            max-width: 910px;
        }
        @media (max-width: 1200px ) {
            max-width: 740px;         
        }
        @media (max-width: 1090px ) {
            max-width: 800px;
            justify-content: end;
        }
        @media (max-width: 800px ) {
            max-width: 670px;
           
        }
        @media (max-width: 550px ) {
            flex-direction: column-reverse;
            
        }
       
    }
    &-title{
        width: 320px;
        height: 130px;
        position: relative;
        @media (max-width: 800px) {
            max-width: 260px;
        }
        @media (max-width: 480px) {
            max-width: 230px;
        }
    }
    &-text{
        font-family: 'Spartan';
        font-style: normal;
        font-weight: 800;
        font-size: 42px;
        line-height: 65px;
        text-align: left;
        margin: 0;
        @media (max-width: 550px ) {
            font-weight: 600;
            font-size: 36px;
            line-height: 50px;
            
        }
    }
}
.container_fixed{
    position: fixed;
    top: 80px;
    left: 140px;
    right: 0;
}
.img_smile{
    position: absolute;
    bottom: 0;
    right: 90px;
    @media (max-width: 800px ) {
        right: 25px;
    }
    @media (max-width: 550px ) {
        right: 20px;
    }
   

}
.icons{
    display: flex;
    justify-content: space-between;
    width: 167px;
    height: 50px;
    cursor: pointer;
    @media (max-width: 800px ) {
       width: 158px;
    }
    &_arrow-container{
        width: 50px;
        height: 50px;
        background-color:  #F3F3F3;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_arrow-cyrcle{
        width: 18px;
        height: 18px;
    }
   
}