

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: blue;
  margin-right: 35px;
  cursor: pointer;

}
.App-navigation {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.App-current_page{
  text-align: center;
  font-size: 28px;
  color: darkblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



